/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');


}

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
  font-family: 'Londrina Shadow', cursive;
  list-style: none;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "HLondrina Shadow", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: 'Londrina Shadow', Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 5.725rem; /* 90px/16px  */
  color: #4d0013;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  margin: 1em 0 0;
  text-shadow: 5px 5px 33px white;
  padding-bottom: 1em;
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}
.main-footer li, .contactnow li  {
  margin-bottom: 1px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */



nav li {
  display: inline-block;
  margin: 0em;
  float: left;
  display: none;
  padding-left: 1em

}

nav::after {
  clear: both;
}

.main-header {
  padding-top: 10px;
  height: 850px;
  /*linear-gradient(#668B8B, transparent 90%), this is first parameter for background*/
  background: 
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('../img/bg.jpg') no-repeat center;
  background-size: cover;


  
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #668B8B,;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #668B8B;
}

.t-border {
  border-top: 2px solid #668B8B;
}


/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.wildlife {
  color: white;
  text-align: left;
  padding: 18% 24%;
  border-top: 10px solid #668B8B;
  margin: 105px 0 60px;
  background: #434a52 url('../img/cat1.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}


.arrow {
  width: 50px;
  margin-top: 3em;
}



/* Floated Columns ------------------ */

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left;
}

.resorts {
  float: right;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

 .slides {
    margin-top: 3em;
    color: red;
  }

  .slides img {
    position: relative;
    max-width: 60%;
   display: inline;
  }

 .fa {
    float: left;
     color: black;
    cursor: pointer;
    visibility: hidden;
  }


/* Media Queries -------------------- */

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }
  .wildlife {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
  


}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border-top: none;
  }
   .fa {
     visibility: initial;
  margin-bottom: 1em;

  }
  #header li a {
    display: none;

  }

 .slides img, .slides {
    max-width: 100%;
  }

  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .title {
    font-size: 1.3rem;
    border: none;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.1;
    margin-top: 0em;
  }
  .intro {
    padding-top: 3em;
  }
  .arrow {
    display: none;
  }
  .intro {
    font-size: 1rem;
  }
  .resorts,
  .tips {
    float: none;
    width: 100%;
  }
  .main-footer {
    padding: 20px 0;
  }




}

.main-footer{
  background: linear-gradient(#fff, transparent 90%),
              linear-gradient(30deg, #668B8B, transparent),
              #ffa949 url('../img/ext.jpg') no-repeat center;
  background-size: cover;
}

footer a:link {
  color:#48525c;  

 
}

tr a {
margin-left: 1.32em;
}

.highlight {
  transition: text-shadow 5s, font-size 3s;
  text-shadow: 5px 5px 33px black;
  font-size: 8em;

}

#side-banner {

  display: none;
  transform: rotate(20deg);
    float: right;
    color:#353304;
    margin-right: 13em;
    margin-top: -12.5em;
  text-shadow: 5px 5px 33px #aba;

}

.contactnow a {
  font-size: 1.25em;
} 




.stick-head {
  /*box-shadow: 5px 5px 30px black;*/

}
  #header li {
  display: inline-block;
  padding: 1em 1em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  text-shadow: 5px 5px 33px white;
  }
  #header li a {

    color: #192919;
    font-size: 1.36em;
    text-shadow: 2px 1px 13px white;

  }
  #header li a:hover {
    text-shadow: 1px 1px 3px #F2F0DF;

} 

.is-sticky {
/*box-shadow: 2px 2px 30px black;*/


}
.stick-head {
  /*z-index: 1000;
  box-shadow: 2px 2px 30px black;*/

}

#header ul,
#header  ol {
  margin: 0px 0;
}

#header li {
  margin-bottom: 0px;
}
.main-footer {
  border-top: 2px solid #F2F0DF;
}

.active {
  text-shadow: 1px 1px 1px red;
}


table {
    position: relative;
    margin-left: 18%;
    margin-top: 10%;
  }
  
  .mobile-menu {
    display: inline-block;
    margin-bottom: 2em;
  }
